Source: voxind
Maintainer: Gilles Casse <gcasse@oralux.org>
Section: sound
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: voxind
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Voxin, text-to-speech based on IBM TTS.
 Voxin is an easily installable add-on which provides yet another
 text-to-speech to blind users of GNU/Linux.