#!/usr/bin/make -f

export DH_VERBOSE=1
package = voxind
version=$(shell dpkg-parsechangelog|sed -n -e 's/^Version: //p'|cut -d- -f1|cut -d. -f2-3)

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_BUILD_HARDENING=1
RFS=$(CURDIR)/debian/rfs
LIBDIR=$(RFS)/usr/lib/$(DEB_HOST_MULTIARCH)
BINDIR=$(RFS)/usr/bin

build: build-arch build-indep

build-arch: build-stamp

build-indep: build-stamp

build-stamp:
	dh_testdir
	RFS=$(RFS) ./build.sh voxind
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	./clean.sh
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	install -o root -g root -d -m755 debian/voxind/DEBIAN debian/voxind/usr/share/doc/voxind debian/voxind/usr/bin
	install -o root -g root -m644 debian/changelog debian/voxind/usr/share/doc/voxind/changelog.Debian
	rm $(LIBDIR)/libcommon.a
	install -o root -g root -m755 $(BINDIR)/voxind debian/voxind/usr/bin
	install -o root -g root -m644 debian/copyright debian/voxind/usr/share/doc/voxind/ 
#	rm -rf $(RFS)

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
#	dh_installman debian/voxind.1
	dh_link
#	rm $(LIBDIR)/libvoxin.so
#	dh_strip --dbg-package=voxind-dbg
	dh_compress
	dh_fixperms
	dh_makeshlibs -V
	dh_shlibdeps -L voxind -l debian/voxind/usr/bin
	dh_installdeb -v
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
